html {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 960px;
    height: 960px;
    display: grid;
    grid-gap: 5px;
    position: absolute;
    top: 50px
}
.grid-item {
    border: black solid 1px;
    height: 100%;
    width: 100%
}
.hover {
    background-color: aquamarine;
}
.button {
    height: auto;
    width: auto;
    padding: 5px;
    border: black solid 1px;
    position: absolute;
    top: 10px
}